.comic-neue-light {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: normal;
}

.comic-neue-regular {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

.comic-neue-bold {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}

.comic-neue-light-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: italic;
}

.comic-neue-regular-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: italic;
}

.comic-neue-bold-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: italic;
}

.itim-regular {
  font-family: "Itim" , cursive;
  font-weight: 400;
  font-style: normal;
}

body{
  background-color: rgb(250, 218, 222);
}

.nav-pills .nav-link.active {
    background-color: lightpink !important; 
    color: black !important;           
}


.nav-pills .nav-link {
    color: gray; 
}


.nav-pills .nav-link:hover {
    background-color: rgb(250, 196, 204); 
    color: gray;
}

ul{
  font-size: larger;
}